
@media screen  and (max-width:500px){
    .centerLink{
        display:none
    }
   header button{
    display:none;
  }
  .eef-main-background{
    background-size:57rem;
    background-position:center; 
    z-index: -1;
  
  }

.firstlogo{
    position:relative;
    right:5rem;
}

  .firstpic{
 width:375px;
 height:512px;
position:absolute 
 ;
  } 
 .text{
    position: relative;
    right:2rem;
    top:27rem;
}
.text p{
    font-size: 14px;
    text-align: center;
    width:285px;
    margin-top: 2rem;
}

.next{
    font-size: 32px;
    width:300px;
   text-align: center
    ;
}

.secondBut{
    margin-left: 4.5rem;
  background-image:Linear-gradient(to right,hsl(136, 65%, 51%),rgb(78, 78, 199));
    color:white;
    width:9rem;
    height:2.7rem;
    border:none;
}

main{
    padding-top:14rem;
    padding-left: 4rem;
}

.why p{
    width:370px;
    text-align: center;
    padding-right: 5.4rem;
    font-size: 13px;
    line-height: 1rem;
   
}

.whychose{
    width:155px;
    text-align: center;
    margin:0 auto;

}

.container{
    display:flex;
    flex-wrap: wrap;
    gap:1rem;
    width:90%;
}

.grid h4{
    text-align: center
    ;
}

.grid svg{
    margin:0 auto 
    
}
} */ */