


@media screen  and (max-width:800px){
    header{
  padding: 30px 0px 25px 40px;

    }
    .firstlogo{
        margin-left: 0;
    }
    .centerLink ul{
     gap:22px;
     
    }
    button{
        height:2rem;
        width:7rem;
        font-size: 11px;
        font-weight:300;
        margin-right: 2rem;
    }

    .eef-main-background{
        background-size:457px;
        background-position: right; 
        z-index: -1;
        box-shadow: 0;
        height: 45vh;
        display:flex;
        flex-wrap: wrap;
      
      }
    .text{
        position: relative;
        left:-5rem;
        bottom:4rem
    }

    .firstpic{
        width:321px;
        height:512px;
        position:relative;
        right:2rem;    
         } 

    .nextGen{
       font-size: 32px;
       width:320px;}
       
        
       
       .text p{
        font-size: 16px;
        width:315px;
        margin-top: 2rem;
        line-height: 1.5rem;
    }

    .container{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        width:auto;
        margin-top: 1rem;
      
      }
main{
    padding-left: 3rem;
}

.why p{
    width:433px;
}

.bigcard{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:0;
    
}

.lastOne{

margin-left : 2.2rem;
}






        }

        



@media screen  and (max-width:500px){
    .centerLink{
        display:none
    }
   header button{
    display:none;
    box-shadow: 0;
  }
  .eef-main-background{
    background-size:57rem;
    background-position:center; 
    z-index: -1;
    box-shadow: 0;
  
  }

.firstlogo{
    position:relative;
    right:1rem;
}

  .firstpic{
 width:455px;
 height:712px;
position:absolute;
left:1rem;
 
 ;
  } 
 .text{
    position: relative;
    right:2rem;
    top:31rem;
}


.nextGen{
    font-size: 27px;
    width:270px;
   text-align: center;
   padding-left: 1.7rem
    ;
}

.text p{
    font-size: 14px;
    text-align: center;
    width:315px;
    margin-top: 2rem;
}
.secondBut{
    margin-left: 4.5rem;
  background-image:Linear-gradient(to right,hsl(136, 65%, 51%),rgb(78, 78, 199));
    color:white;
    width:9rem;
    height:2.7rem;
    border:none;
}

main{
    padding-top:14rem;
    padding-left: 4rem;
}

.why p{
    width:417px;
    text-align: center;
    padding-right: 6rem;
    font-size: 17px;
    line-height: 1.4rem;
   
}

.whychose{
    width:215px;
    margin:0 auto;
    font-size: 32px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.container{
    display:flex;
    flex-wrap: wrap;
    gap:1rem;
    width:90%;
}
.grid{
    padding-left: 1rem;

}
.grid h4{
    text-align: center
    ;
}
.grid p{
    text-align: center;
    font-size: 14px;
    width:312px
}
.lastOne{
    margin-left:6.5rem;
}}
 /* footer{
    height:445px;
  
}
 .footerLogos{
    display:grid;
}
.firstLinkFoot {
    padding-left: 9rem;

}
}  */
