


@media screen  and (max-width:800px){
    header{
  padding: 30px 0px 25px 40px;

    }
    .firstlogo{
        margin-left: 0;
    }
    .centerLink ul{
     gap:22px;
     
    }
    .centerLink ul li a{
        font-size: 16px;
        
       }
    button{
        height:2rem;
        width:7rem;
        font-size: 11px;
        font-weight:300;
        margin-right: 2rem;
    }

    .eef-main-background{
        background-size:457px;
        background-position: right; 
        z-index: -1;
        box-shadow: 0;
        height: 45vh;
        display:flex;
        flex-wrap: wrap;
      
      }
    .text{
        position: relative;
        left:-5rem;
        bottom:4rem;
    }

    .firstpic{
        width:321px;
        height:512px;
        position:relative;
        right:2rem;    
         } 

    .nextGen{
       font-size: 35px;
       width:270px;
    }
       
        
       
       .text p{
        font-size: 16px;
        width:271px;
        margin-top: 2rem;
        line-height: 1.5rem;
    }

    .container{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 1rem;
      
      }

main{
    padding-left: 3rem;
}

.why p{
    width:433px;
}

.bigcard{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    width: 77%;
    column-gap: 7rem;
}


.lastOne{

margin-left : 2.2rem;
}

footer{
    height:215px;
    padding-left: 2rem;
}

.firstsecond{
    display:flex;
    gap:2rem;
    padding-left:4rem;
    font-size: 1rem;
  }
  
  .reserved{
    font-size: 14px;
  }

  .firstLinkFoot ul li a{
    text-decoration:  none;
    color:white;
    line-height: 2rem;
    
    font-size: 15px;
    }

    .secondLinkFoot ul li a{
        text-decoration:  none;
        color:white;
        line-height: 2rem;
        
        font-size: 15px;
        }








}

@media screen  and (max-width:450px){
    .centerLink{
        display:none
    }
    header{
        position: absolute;
    }

    .icon{
        display: flex;
        font-size: 32px;
        padding-right:1rem
    }
   header button{
    display:none;
    box-shadow: 0;
  }
  .eef-main-background{
    background-size:57rem;
    background-position:center; 
    z-index: -1;
    box-shadow: 0;
  
  }

.firstlogo{
    position:relative;
    right:1rem;
}

 
.firstpic{
   width:355px;
   height:512px;
   position:absolute;
   left:2.5rem;

  } 
 .text{
    position: relative;
    right:5rem;
    top:22rem;
}


.nextGen{
    font-size: 45px;
    width:350px;
   text-align: center;
   /* padding-left: 1.7rem */
    ;
}

.text p{
    font-size: 16px;
    text-align: center;
    width:335px;
    margin-top: 2rem;
    padding-left: 1rem;
}
.secondBut{
    margin-left: 6rem;
  background-image:Linear-gradient(to right,hsl(136, 65%, 51%),rgb(78, 78, 199));
    color:white;
    width:9rem;
    height:2.7rem;
    border:none;
}

main{
    padding-top:22rem;
    padding-left: 4rem;
}

.why p{
    width:390px;
    text-align: center;
    margin-left:-3rem ;
    font-size: 19px;
    line-height: 2rem;
   word-wrap: normal;
}

.whychose{
    width:245px;
    margin:0 auto;
    font-size: 37px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.container{
    display:flex;
    flex-wrap: wrap;
    margin-left:-3rem;
    gap:1rem;
    width:90%;
}
.grid{
    padding-left: 1rem;

}
.grid h4{
    text-align: center;
    font-size: 30px;
}
.grid p{
    text-align: center;
    font-size: 18px;
    width:352px;
    line-height: 1.7rem;
}
.lastOne{
    margin-left:6.5rem;
    
}

.logome{
    justify-content: center;
    display: flex;
    align-items: center;
}

.latest{
    margin-left:-1rem;
    width:322px;
}

.bigcard{
    display: flex;
    flex-wrap: wrap;
    margin-left: -4rem;   
}

.cardPix{
    width:355px;
    height:222px;

}
.inn{
    width:322px;
    padding:1rem;
}
  footer{
    height:445px;
    width:auto;
    display: grid;
    padding-left: 8rem;
  
}
 .footerLogos{
    display:grid;
}


.easysocialandlink{
    display:grid;
}

.firstsecond{
    display: grid;
    gap:0;
    margin-left:-12rem;
    margin-top: 2rem;
    text-align: center;
}
.secbutt{
    position:relative;
    right:5rem;
    top:1rem;
    width:9rem;

  }
  .easylogo{
    padding-left: 1rem;
  }

  .socialMediaLogo{
    padding-right: 3rem;
    gap:1.2rem;
  }



  .reserved{
    position:relative;
    right:1rem;
  }
}  





@media screen  and (max-width:376px){
    .centerLink{
        display:none
    }
    header{
        position: absolute;
    }

    .icon{
        display: flex;
        font-size: 32px;
        padding-right:1rem
    }
   header button{
    display:none;
    box-shadow: 0;
  }
  .eef-main-background{
    background-size:auto;
    background-position:center; 
    z-index: -1;
    box-shadow: 0;
  
  }

.firstlogo{
    position:relative;
    right:1rem;
}

 
.firstpic{
   width:255px;
   height:372px;
   position:absolute;
   left:4rem;

  } 
 .text{
    position: relative;
    left:-4rem;
    top:14rem;
}


.nextGen{
    font-size: 35px;
    width:350px;
   text-align: center;
    margin-left:-2.5rem;    ;
}

.text p{
    font-size: 14px;
    text-align: center;
    width:345px;
    margin-top: 2rem;
    margin-left: -3rem;
}
.secondBut{
    margin-left: 3.5rem;
  background-image:Linear-gradient(to right,hsl(136, 65%, 51%),rgb(78, 78, 199));
    color:white;
    width:9rem;
    height:2.7rem;
    border:none;
}

main{
    padding-top:22rem;
    padding-left: 4rem;
}



.whychose{
    width:245px;
    margin:1rem auto;
    font-size: 37px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.why p{
    width:370px;
    text-align: center;
    margin-left:-3.5rem ;
    font-size: 19px;
    line-height: 2rem;
   word-wrap: normal;
}

.container{
    display:flex;
    flex-wrap: wrap;
    margin-left:-3rem;
    gap:1rem;
    width:90%;
}
.grid{
    padding-left: 1rem;

}
.grid h4{
    text-align: center;
    font-size: 30px;
    margin-left: -1rem;
}
.grid p{
    text-align: center;
    font-size: 16px;
    width:352px;
    line-height: 1.7rem;
    margin-left:-1rem;

}

.logome{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: -1rem;
}

.bigcard{
    display:flex;
    flex-wrap: wrap;
    width:305px;
    position:relative;
   
}



 .cardPix{
    width:305px;
    height:222px;

} 
.latest{
    width:275px;
    margin-left:-2.6rem;
}
.card{
    width:305px;
   
}
.inn{
    width:275px;
 
}

  footer{
    height:445px;
    width:auto;
    display: grid;
    padding-left: 6rem;
  
}
}

@media screen  and (max-width:350px){
    .centerLink{
        display:none
    }
    header{
        position: absolute;
    }

    .icon{
        display: flex;
        font-size: 32px;
        padding-right:1rem
    }
   header button{
    display:none;
    box-shadow: 0;
  }
  .eef-main-background{
    background-size:67rem;
    background-position:center; 
    z-index: -1;
    box-shadow: 0;
  
  }

.firstlogo{
    position:relative;
    right:1rem;
}

 
.firstpic{
   width:275px;
   height:512px;
   position:absolute;
   left:2.5rem;

  } 
 .text{
    position: relative;
    right:5rem;
    top:22rem;
}


.nextGen{
    font-size: 35px;
    width:350px;
   text-align: center;
    margin-left:-2.5rem;    ;
}

.text p{
    font-size: 14px;
    text-align: center;
    width:345px;
    margin-top: 2rem;
    margin-left: -3rem;
}
.secondBut{
    margin-left: 3.5rem;
  background-image:Linear-gradient(to right,hsl(136, 65%, 51%),rgb(78, 78, 199));
    color:white;
    width:9rem;
    height:2.7rem;
    border:none;
}

main{
    padding-top:22rem;
    padding-left: 4rem;
}



.whychose{
    width:245px;
    margin:1rem auto;
    font-size: 37px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.why p{
    width:340px;
    text-align: center;
    margin-left:-3.5rem ;
    font-size: 19px;
    line-height: 2rem;
   word-wrap: normal;
}

.container{
    display:flex;
    flex-wrap: wrap;
    margin-left:-3rem;
    gap:1rem;
    width:90%;
}
.grid{
    padding-left: 1rem;

}
.grid h4{
    text-align: center;
    font-size: 30px;
}
.grid p{
    text-align: center;
    font-size: 16px;
    width:322px;
    line-height: 1.7rem;
    margin-left:-1rem;

}

.logome{
    justify-content: center;
    display: flex;
    align-items: center;
}

.bigcard{
    display:flex;
    flex-wrap: wrap;
    width:305px;
    position:relative;
    right:1rem;
   
    /* column-gap: 2rem; */
}

/* .lastOne{
    width:374px;
} */

 .cardPix{
    width:305px;
    height:222px;

} 
.latest{
    width:225px;
    margin-left:-2.6rem;
}
.card{
    width:305px;
   
}
.inn{
    width:275px;
 
}

  footer{
    height:445px;
    width:auto;
    display: grid;
    padding-left: 6rem;
  
}
}
